*{margin:none; padding:none; }

                      /* NAVBAR style */

body{background-color: rgba(39, 35, 35, 0.979); background-repeat:no-repeat; background-attachment:scroll; background-size:auto; overflow: auto;}
a{text-decoration:none; list-style:none; color: antiquewhite;}
a:hover{color: rgb(0, 0, 0); font-family: 'Courier New', Courier, monospace; text-decoration:underline rgb(117, 96, 173) 2px;}
nav{background-color: rgba(137, 190, 226, 0.521); height:auto; width: auto; text-align: center; overflow:auto;}
ol:hover{color: rgb(0, 0, 0); font-family: 'Courier New', Courier, monospace; text-decoration:underline;}
ul{display:flex; list-style:none; text-decoration:none; color: antiquewhite; font-size:auto; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: auto; height: auto;}


                     /* TEXT ANIMATION  */

.typewriter h1 {
    color: rgb(67, 168, 235);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden; 
    width: fit-content;
    border-right: .15em solid rgb(236, 236, 236); 
    white-space: nowrap; 
    margin:0 auto;
    letter-spacing: .15em; 
    animation: 
      typing 4.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */

  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }


  
                                /* logo */

.logo{padding-left:30%; font-family: cursive; text-decoration:overline rgb(255, 255, 255) 2px;}

img{float:right; clear: both; height:7rem; width: auto; border: solid rgba(230, 176, 0, 0.815); border-radius: 100%; font-size:1rem;} 
.ppr{display: flexbox; background-color: rgba(253, 253, 253, 0.74); overflow: auto; box-shadow: rgba(173, 170, 170, 0.596) 13px 13px 13px ; height:fit-content; width: 55%;} 
span:hover{text-transform: capitalize;}


.ppr2{display: flexbox; background-color: rgba(253, 253, 253, 0.74); overflow: auto; box-shadow: rgb(173, 170, 170, 0.596) 13px 13px 13px ; height:fit-content; width: 55%; position: absolute; right:.100%; clear: both; display: flexbox;} 

                  /* FOOTER*/
footer{text-align:center; color:white; padding-top:100%;}
