*{margin:none; padding:none; }

                      /* NAVBAR style */

body{background-image:url("/bg.jpg");  background-repeat:no-repeat; background-attachment: scroll; background-size:auto; overflow: scroll;}
a{text-decoration:none; list-style:none; color: antiquewhite;}
a:hover{color: rgb(0, 0, 0)
 font-family: 'Courier New', Courier, monospace; text-decoration:underline rgb(117, 96, 173) 2px;}
nav{background-color: rgba(137, 190, 226, 0.521); height:auto; width: auto; text-align: center; overflow:auto;}
ol:hover{color: rgb(0, 0, 0); font-family: 'Courier New', Courier, monospace; text-decoration:underline;}
ul{display:flex; list-style:none; text-decoration:none; color: antiquewhite; font-size:2rem; text-align: center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: auto; height: auto;}
 
                            /* text style */

.txt{color: rgb(254, 253, 255); padding-top:170px; font-size: 3rem; -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; overflow: auto;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.15;
    }
    50% { 
        opacity: 50.0;
    }
    100% { 
        opacity: 0.15;
    }
}

                                /* logo */

.logo{padding-left:30%; font-family: cursive; text-decoration:overline rgb(255, 255, 255) 2px;}
